<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3 class="card-title py-2">SignIn</h3>
                </div>
                <div class="card-body">
                    <img src="/img/FavLinks.gif" alt="Logo FavLinks" class="card-img-top mx-auto mb-2 rounded-cricle w-50">
                    <form action="/signin" method="POST">
                        <div class="mb-3">
                            <input type="text" name="username" placeholder="Username" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <input type="password" name="password" placeholder="Password" class="form-control" required>
                        </div>
                        <div class="my-4">
                            <button class="btn btn-success form-control" type="submit">Sign In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>